<div class="container-fluid">
    <div class="titleheader"> 
        <h1> Officers</h1>
        <h2>Current Executive Board</h2>
    </div>
    <table id="officertable" width="100%" border="0" cellpadding="5">
        <tr>
            <td align="center" valign="center">
                <%= image_tag("aj.jpg") %> 
                <br />
                <h3> ANURAGE BANERJEE </h3>
                <h4> PRESIDENT </h3>
                <p> Email: anuragbanerjee@uga.edu </p> 
            </td>

            <td align="center" valign="center">
                <%= image_tag("emily3x4.png") %> 
                <br/>
                <h3> EMILY JACKSON </h3>
                <h4> VICE PRESIDENT </h3>
                <p> Email: emilyjackson@uga.edu </p> 
            </td>
            
            <td align="center" valign="center">
                <%= image_tag("johnny3x4.png") %> 
                <br/>
                <h3> JOHNNY DO </h3>
                <h4> TREASURER </h3>
                <p> Email: johnnydo@uga.edu </p> 
            </td>

            <td align="center" valign="center">
                <%= image_tag("sarah3x4.png") %>
                <br />
                <h3> SARAH KHAN </h3>
                <h4> SECRETARY </h3>
                <p> Email: skhan731@uga.edu </p> 
            </td>
        </tr>

        <tr>
            <td align="center" valign="center">
                <%= image_tag("kelsie3x4.png") %> 
                <br />
                <h3> KELSIE BELAN </h3>
                <h4> HISTORIAN </h3>
                <p> Email: kelsie70@uga.edu </p> 
            </td>

            <td align="center" valign="center">
                <%= image_tag("philip3x4.png") %> 
                <br/>
                <h3> PHILLIP GRIGGS </h3>
                <h4> PUBLIC RELATIONS </h3>
                <p> Email: phillip.griggs25@uga.edu </p> 
            </td>
        </tr>
    </table>
</div>
