<!DOCTYPE html>
<html>
    <head>
        <title> UGA@ACM Home </title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <!-- Put header and footer classes into partials --> 
        <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <%= link_to image_tag("acm_logo.png"), "#", id: "logo" %>
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "Home",       root_path %></li>
                        <li><%= link_to "About",      about_path %></li>
                        <li><%= link_to "Contact",    contact_path %></li> 
                        <li><%= link_to "Officers",   officers_path %></li>
                    </ul>
                </nav> 
            </div>
        </header>
        
        <%= yield %>

        <footer>
            <div class="container">
                <div class="row">
                <div class="col-sm-6">
                    <p> Link here! </p>
                    <p> Link here! </p> 
                </div>
                <div class="col-sm-6">
                    <p> Link here! </p>
                    <p> Link here! </p>
                </div> 
            </div> 
        </footer>
    </body>
</html>
